<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - Viola Veículos</title>

    <!-- Vendor CSS -->
    <link href="~/lib/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet">
    <link href="~/lib/material-design-iconic-font/dist/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    @RenderSection("Styles", required: false)

    <!-- CSS -->
    <link href="~/css/app_1.min.css" rel="stylesheet">
    <link href="~/css/app_2.min.css" rel="stylesheet">

</head>
<body>
    <header id="header-alt" class="clearfix" data-ma-theme="lightblue">
        <!-- Make sure to change both class and data-current-skin when switching sking manually -->
        <ul class="h-inner clearfix">
            <li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
                <div class="line-wrap">
                    <div class="line top"></div>
                    <div class="line center"></div>
                    <div class="line bottom"></div>
                </div>
            </li>

            <li class="hi-logo hidden-xs">
                <a asp-controller="Home" asp-action="Index">LIFE <strong>LINK</strong></a>
            </li>

            <li class="pull-right">
                <ul class="hi-menu">
                    <li class="dropdown">
                        <a data-toggle="dropdown" href=""><i class="him-icon zmdi zmdi-more-vert"></i></a>
                        <ul class="dropdown-menu dm-icon pull-right">
                            <li class="hidden-xs">
                                <a data-action="fullscreen" href=""><i class="zmdi zmdi-fullscreen"></i> Ativar <strong>Tela Cheia</strong></a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Logout"><i class="zmdi zmdi-power"></i> Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="ha-search">
            <div class="fg-line">
                <input type="text" class="form-control" placeholder="Pesquisar...">
            </div>
        </div>

        <nav class="ha-menu">
            <ul>
                <li id="painel"><a asp-controller="Home" asp-action="Index">PAINEL</a></li>
                <li class="dropdown" id="Usuarios">
                    <a href="" data-toggle="dropdown">Usuários</a>
                    <ul class="dropdown-menu">
                        <li><a asp-action="Lista" asp-controller="Account">Lista</a></li>
                        <li><a asp-action="Adicionar" asp-controller="Account">Adicionar</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <section id="main"> 
        <section id="content" class="content-alt">
            <div class="container">

                <div class="block-header">
                    <h2>@ViewData["Title"]</h2>

                    <ul class="actions">
                        <li class="dropdown">
                            <a href="" data-toggle="dropdown">
                                <i class="zmdi zmdi-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Atualizar</a>
                                </li>

                            </ul>
                        </li>
                    </ul>

                </div>

                @Html.Partial("Alert")

                @RenderBody()

            </div>
        </section>
    </section>

    <footer id="footer">
        Copyright &copy; 2018 Life Link
    </footer>

    <!-- Page Loader -->
    <div class="page-loader">
        <div class="preloader pls-blue">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
            </svg>

            <p>Carregando...</p>
        </div>
    </div>

    <!-- Javascript Libraries -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/lib/Waves/dist/waves.min.js"></script>
    <script src="~/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>

    <script src="~/js/app.min.js"></script>

    @RenderSection("Scripts", required: false)
    <script>
        $("#@ViewData["Header"]").addClass("active");
    </script>
</body>
</html>