<html lang="pt-br">
    <head>
        <title>LifeLink</title>
        <meta charset="utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="~/uikit/css/uikit.min.css"/>

        <script src="~/uikit/js/uikit.min.js"></script>
        <script src="~/uikit/js/uikit-icons.min.js"></script>
    </head>

    <body>

        @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
        @functions{
            public string GetAntiXsrfRequestToken()
            {
                return Xsrf.GetAndStoreTokens(Context).RequestToken;
            }
        }

        <input type="hidden" id="RequestVerificationToken"
               name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

        <div class="uk-offcanvas-content">
            <div class="uk-section-primary">

                <div uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">

                    <nav class="uk-navbar-container uk-margin">
                        <div class="uk-navbar">
                            <div class="uk-navbar-left">
                                <a class="uk-navbar-item uk-logo" style="color: white;">
                                    <img src="~/images/logo.png" style="width: 42px; height:42px;" class="uk-margin-small-right" />
                                    LIFE<strong>LINK</strong>
                                </a>
                                <ul class="uk-navbar-nav">
                                    <li id="page-home"><a asp-controller="Home" asp-action="Index">INÍCIO</a></li>
                                    <li id="page-imc"><a asp-controller="IMC" asp-action="Index">IMC</a></li>
                                </ul>
                            </div>
                            <div class="uk-navbar-right">
                                @if (!Context.User.Identity.IsAuthenticated)
                                {
                                    <ul class="uk-navbar-nav">
                                        <li><a href="#modal-login" uk-toggle>Login</a></li>
                                        <li><a href="#modal-register" uk-toggle>Registrar</a></li>
                                    </ul>
                                }
                                else
                                {
                                    <ul class="uk-navbar-nav">
                                        <li class="uk-active"><a href="#modal-account" uk-toggle>@Context.User.Identity.Name</a></li>
                                    </ul>

                                }
                                <div class="uk-navbar-item uk-visible@@m"><a href="#" uk-toggle="target: #offcanvas-usage" class="uk-button uk-button-default tm-button-default uk-icon">Sobre <polyline fill="none" stroke="#000" points="14,10 9.5,14.5 5,10"></polyline> <rect x="3" y="17" width="13" height="1"></rect> <line fill="none" stroke="#000" x1="9.5" y1="13.91" x2="9.5" y2="3"></line></svg></a></div>
                            </div>
                        </div>
                    </nav>
                </div>

            </div>

            <div class="uk-container">
                @RenderBody()
            </div>

            <div id="offcanvas-usage" uk-offcanvas="mode: push;">
                <div class="uk-offcanvas-bar">

                    <button class="uk-offcanvas-close" type="button" uk-close></button>

                    <h3><strong>LIFELINK</strong></h3>

                    <p>PUCC - Projeto Integrado B</p>

                    <ul>
                        <li>Matheus Pedroni</li>
                        <li>Daniel Oliveira</li>
                    </ul>

                    <p>Repositório: <a href="https://github.com/pedr0ni/Projetosaude" target="_blank">GitHub</a></p>
                    <p>Apresentação: <a href="https://slides.com/pedr0ni/deck-2/live" target="_blank">Slides</a></p>
                </div>
            </div>
        </div>

        @Html.Partial("LoginModal")

        @Html.Partial("RegisterModal")

        @Html.Partial("AccountModal")

        <script src="~/libs/popper.min.js"></script>
        <script src="~/libs/jquery.min.js"></script>
        <script src="~/libs/app.js"></script>

        @RenderSection("Scripts", required: false)

        <script>
            $("#page-@ViewData["Page"]").addClass('uk-active');
        </script>

    </body>

</html>